.all-watch {
  .mdl-layout {
    .mdl-layout__header {
      background-color: #DD5B00;

      .mdl-layout__header-row {
        .mdl-layout-title {
          font-family: "Lucida Console", Monaco, monospace;
          font-size: 22px;
          color: #CCCCCC;
        }
      }
    }

    .mdl-layout__content {
      background-color: #333333;

      .page-content {
        margin: 0 auto;
        max-width: 1400px;
        width: 100%;

        .mdl-card__title {
          background-color: #DD5B00;

          .mdl-card__title-text {
            font-family: "Lucida Console", Monaco, monospace;
            color: #CCCCCC;
          }
        }

        .mdl-card__supporting-text {
          background-color: #CCCCCC;
          width: 100%;
        }
      }
    }
  }
}

div {
  &.header-space {
    height: 20px;
    width: 20px;
  }

  &.webcam-container {
    width: 640px;
    margin-left: 5em;
    border: solid 3px #858585;

    &.live {
      border: solid 3px #FF0000;
    }
  }

  &.video-feed-button-container {
    padding-left: 24.5em;

    .mdl-button {
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 16px;
      color: #666666;
    }
  }
}

label {
  font-family: "Lucida Console", Monaco, monospace;
}

input {
  background: none;
  outline: none;
  border: 1px solid #666666;
  padding: 1px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 13px;
  color: #666666;

  &:focus {
    border: 1px solid #DD5D00;
  }
}

.video-feed-input {
  padding-left: 8em;
}

.section-card {
  .mdl-card__menu {
    top: 14px;

    .mdl-button {
      .material-icons {
        color: #CCCCCC;
      }
    }
  }

  &.right-column {
    margin-left: 0;
  }
}