.all-watch {
  .mdl-layout {
    .mdl-layout__header {
      background-color: #2ad617;

      .mdl-layout__header-row {
        .mdl-layout-title {
          font-family: "Helvetica Neue", Helvetica, monospace;
          font-size: 22px;
          color: #ffffff;
        }
      }
    }
  }
}